.header-div-logo {
    justify-content: center;
}

.header-div-avatar {
    justify-content: center;
    height: auto;
    padding: 0px !important;
    flex-direction: column;
}

.header-a-avatar {
    width: 100%;
    margin: 0px;
}

.sidebar-img-avatar {
    border-radius: 50%;
}

.img-avatar {
    height: 128px;
    width: 128px;
}
.image-preview-edit, .imageupload .alert, .imageupload .file-tab .thumbnail {
    border-radius: 4px;
    border: 1px solid #ddd;
    padding: 4px;
    width: 350px;
    height: 320px;
    display: block;
    margin-bottom: 5px;
}

.image-preview-detail{
    width: 100%;
    height: 100%;
    border-radius: 4px;
    border: 1px solid #ddd;
    padding: 4px;
}

.avatar-preview-edit {
    border-radius: 4px;
    border: 1px solid #ddd;
    padding: 4px;
    width: 260px;
    height: 240px;
    display: block;
    margin-bottom: 5px;
}
